.map-container {
    height: 100%;
    width: 100%;
}

.placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: darkgray;

    .placeholder-text {
        margin: auto;
    }
}